{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "extensions": [
          ".ios.ts",
          ".android.ts",
          ".ts",
          ".ios.tsx",
          ".android.tsx",
          ".jsx",
          ".js",
          ".json"
        ],
        "alias": {
          "@screens": "./src/screens",
          "@components": "./src/components",
          "@assets": "./src/assets",
          "@constants": "./src/constants",
          "@redux": "./src/redux",
          "@services": "./src/services",
          "@api": "./src/api",
        }
      }
    ]
  ]
}